<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<p>This is the partial for view 3.</p>
<p>Data is fetched from a REST service, connected to MongoDB </p>
<!-- Latest compiled and minified CSS -->


<ul>
    <p style="color: red">{{error}}</p>
    <div class="jumbotron">
        <h3><span class="label label-default">Hi and welcome to the add article to database</span></h3> <br>
        <h3><span class="label label-success">Please enter your search in our wiki page! - shows 10 results at the time</span></h3> <br>
        <p>*Note - Some loading time can occur</p>

    <input class="form-control" placeholder="Article Search" type="text" ng-model="search.$">

    <div class="container">

        <td>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="wikarticles in wiki| filter:search | limitTo:10">
                    <div id="some-div">
                        <p><a href="{{wikarticles.url}}" target="_blank">{{wikarticles.title}}</a></p>
                        <span id="some-element">{{wikarticles.abstract}}</span>
                    </div>
                </li>
            </ul>
    </div>
</ul>
</p>
</div>