<p>This is the partial for view 3.</p>
<p>Data is fetched from a REST service, connected to MongoDB </p>
<ul>
    <p style="color: red">{{error}}</p>

    <input type="text" ng-model="search.$">

    <div class="container">

        <td>

            <ul>
                <li ng-repeat="wikarticles in wiki | filter:search">
                    <div id="some-div">
                        <p><a href="{{wikarticles.url}}" target="_blank">{{wikarticles.title}}</a></p>
                        <span id="some-element">{{wikarticles.abstract}}</span>
                    </div>
                </li>
            </ul>
    </div>
</ul>
</p>
